body{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: auto;
    width: 80%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navbar__logo img{
    width: 45px;
    height: 45px;
}
.navbar__logo p{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
.navbar__link ul{
    display: flex;
    gap: 15px;
}
.navbar__link ul li a{
    text-decoration: none;
    color: #707070;
    transition: 0.3s;
    font-weight: 500;
    font-size: 18px;
}
.navbar__link ul li a:hover{
    color: #306EF7;
}
.navbar__sign{
    display: flex;
    gap: 15px;
    align-items: center;
}
.navbar__sign a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: #707070;
    transition: 0.3s;
}
.navbar__sign a:hover{
    color: #306EF7;
}
.navbar__sign button{
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    color: #306EF7;
    transition: 0.7s;
    font-size: 18px;
    cursor: pointer;
}
.navbar__sign button:hover{
    background-color: #306EF7;
    color: white;
}
.banner{
    text-align: center;
    margin-top: 100px;
}
.main__banner h1{
    color: white;
    font-size: 100px;
    font-weight: 700;
    margin: 0;
}
.main__banner h2{
    color: #FE6783;
    font-size: 100px;
    font-weight: 700;
    margin: 0;
}
.start__banner{
    margin-top: 80px;
}
.start__banner p{
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.first__button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #326CF9;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 15px;
}
.first__button:hover{
    background-color: #326CF9;
    color: white;
}
.second__button{
    width: 200px;
    height: 50px;
    background-color: #326CF9;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 15px;
}
.info__banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.info__banner p{
    font-size: 18px;
    color: #707070;
    font-weight: 500;
}
.info__banner h2{
    margin: 0;
    font-size: 18px;
    color: white;
}
.love__banner{
    text-align: center;
    margin-top: 180px;
}
.love__banner h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.love__plus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.love__plus p{
    color: #707070;
    font-size: 20px;
}
.love__first__bot{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.love__first__bot img{
    width: 35px;
    height: 35px;
}
.love__first__bot h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}
.love__second__bot{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.love__second__bot img{
    width: 35px;
    height: 35px;
}
.love__second__bot h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}
.love__third__bot{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.love__third__bot img{
    width: 35px;
    height: 35px;
}
.love__third__bot h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}
.step__one{
    text-align: center;
    margin-top: 160px;
}
.step__one .p__color{
    color: #3D82F2;
    font-size: 20px;
    font-weight: 600;
}
.step__one h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.step__one p{
    font-size: 30px;
    font-weight: 300;
    color: #707070;
}
.step__one button{
    width: 220px;
    height: 60px;
    background: transparent;
    color: #707070;
    border-radius: 10px;
    border: 1px solid #707070;
    cursor: pointer;
    font-size: 18px;
}
.homePage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

}
.homePage__right{
    text-align: left;
    width: 600px;
}
.homePage__right p{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.homePage__right h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.first__step{
    display: flex;
    align-items: center;
    gap: 10px;
}
.first__step img{
    width: 30px;
    height: 30px;
}
.first__step p{
    font-size: 20px;
    font-weight: 400;
}
.second__step{
    display: flex;
    align-items: center;
    gap: 10px;
}
.second__step img{
    width: 30px;
    height: 30px;
}
.second__step p{
    font-size: 20px;
    font-weight: 400;
}
.step__buttons{
    margin-top: 60px;
}
.step__button__first{
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: #326CF9;
}
.step__button__second{
    width: 200px;
    height: 50px;
    color: #707070;
    border: 1px solid #707070;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.homePage__left img{
    width: 700px;
    height: 550px;
    object-fit: cover;
    position: relative;
    left: 50px;
    top: 40px;
}

.step_two{
    text-align: center;
    margin-top: 180px;
}
.step_two .p_two_color{
    color: #3D82F2;
    font-size: 20px;
    font-weight: 600;
}
.step_two h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.step_two{
    font-size: 30px;
    font-weight: 300;
    color: #707070;
}
.step_two_content{
    display: flex;
    gap: 25px;
}
.step_oneclick{
    width: 854px;
    height: 666px;
    background: #0D0D0D;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
}
.step_oneclick p {
    color: #0FC65C;
    font-weight: 400;
    font-size: 30px;
}
.step_oneclick .oneclick_h2 {
    color: #919191;
}
.step_oneclick img{
    width: 100%;
    padding-left: 90px;
}
.step_collect{
    width: 854px;
    height: 666px;
    background: #0D0D0D;
}
.step_collect p{
    color: #0FC65C;
    font-weight: 400;
    font-size: 30px;
}
.step_collect .collect_h2{
    color: #919191;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}
.footer__logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__logo h2{
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin: 0;
}
.footer__logo img{
    width: 35px;
    height: 35px;
}
.footer__info p{
    color: #707070;
    font-size: 20px;
}
.footer__links ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer__links ul li a{
    text-decoration: none;
    color: #707070;
    transition: 0.3s;
    font-weight: 500;
    font-size: 18px;
}
.footer__links ul li a:hover{
    color: #306EF7;
}
.step__three{
    text-align: center;
    margin-top: 160px;
}
.step__three .p__three__color{
    color: #3D82F2;
    font-size: 20px;
    font-weight: 600;
}
.step__three h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}
.step__three p{
    font-size: 30px;
    font-weight: 300;
    color: #707070;
}
.create{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

}
.create__right{
    text-align: left;
    width: 600px;
}
.create__right p{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.create__right h2{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.first__step__three{
    display: flex;
    align-items: center;
    gap: 10px;
}
.first__step__three img{
    width: 30px;
    height: 30px;
}
.first__step__three p{
    font-size: 20px;
    font-weight: 400;
}
.second__step__three{
    display: flex;
    align-items: center;
    gap: 10px;
}
.second__step__three img{
    width: 30px;
    height: 30px;
}
.second__step__three p{
    font-size: 20px;
    font-weight: 400;
}
.step__buttons__three{
    margin-top: 60px;
}
.step__button__first{
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background-color: #326CF9;
}
.step__button__second{
    width: 200px;
    height: 50px;
    color: #707070;
    border: 1px solid #707070;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.create__left img{
    width: 700px;
    height: 550px;
    object-fit: cover;
    position: relative;
    left: 50px;
    top: 40px;
}
.agree{
    text-align: center;
    margin-top: 150px;
}
.agree h2{
    color: white;
    font-size: 60px;
    font-weight: 700;
}
.agree img{
    width: 100%;
    object-fit: cover;
}
.help{
    background: url(../assets/images/backHelp.png) center/cover;
    height: 80vh;
    margin-top: 100px;
    position: relative;
}
.help__info{
    text-align: center;
    position: absolute;
    left: 220px;
    top: 150px;
}
.help__info p{
    color: white;
    font-size: 60px;
    font-weight: 600;
}